
.deconnexion{
    list-style: none;
    margin-right: 15px;
    display: flex;
    flex-direction: row-reverse;
    text-decoration: underline;
}

.dcnx{
    cursor: pointer;
}

.dcnx:hover {
    font-size: 20px;
}

.loading{
    margin-top: 15px;
    height: 30px;
    width: 30px;
    border-radius: 50px;
}
